@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}

#category{
    width: 100%;
    height: 763px;
    display: flex;
    justify-content: center;
    background: #fff;
}
.container{
    position: relative;
    width: 1440px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    /* outline: 1px solid red; */
    background: #fff;
}
/* container wrap */

.left{
    /* outline: 1px solid blueviolet; */
}
.center{
    /* outline: 1px solid blueviolet; */
    margin: 0 43px;
}
.right{
    /* outline: 1px solid blueviolet; */
    position: relative;
    right: 0;
}
.bottom{
    /* outline: 1px solid yellow; */
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

/* .home */

.home{
    width: 438px;
    height: 760px;
    background: #ffb7b7;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
}
.home > a{
    display: block;
}
.home > a > img{
    position: relative;
    top: -120px;
    transform: scale(1);
    transition: all .4s;
}

.home > a > h1 {
    font-size: 58px;
    letter-spacing: -0.025em;
    font-weight: bold;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

/* .home:hover */

.category_h{
    width: 438px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transition: all .4s;
    transform: translateY(60px);
}
.category_h > p:first-child {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.category_h > p{
    font-size: 22px;
    color: #fff;
}
.home:hover .category_h{
    opacity: 1;
    transform: translateY(0);
}
.home:hover  > a > img{
    transform: scale(1.1); 
}
.h_txt{
    opacity: 1;
    transition: all .4s;
}
.home:hover .h_txt{
    opacity: 0;
}


/* .life */

.life{
    position: relative;
    width: 438px;
    height: 160px;
    background: #f5ee9b;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
    margin-bottom: 42px;
}
.life > a{
    display: block;
}
.life > a > img{
    position: absolute;
    right: -80px;
    bottom: -40px;
    transform: scale(1);
    transition: all .4s;
}
.life > a > h1{
    font-size: 58px;
    letter-spacing: -0.025em;
    font-weight: bold;
    line-height: 160px;
    padding-left: 20px;
    opacity: 1;
    transition: all .4s;
} 

/* life:hover */

.category_l{
    width: 438px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transition: all .4s;
    transform: translateY(60px);
}
.category_l > p:first-child {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.category_l > p{
    font-size: 22px;
    color: #fff;
}
.life:hover .category_l{
    opacity: 1;
    transform: translateY(0);
}
.life:hover >a >h1{
    opacity: 0;
}
.life:hover >a >img{
    transform: scale(1.1);
}

/* packaging */

.packaging{
    position: relative;
    width: 438px;
    height: 560px;
    background: #adfcfb;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
}
.packaging > a{
    display: block;
}
.packaging > a > img{
    width: 450px;
    height: auto;
    display: block;
    position: absolute;
    left: -70px;
    bottom: -80px;
    transform: scale(1);
    transition: all 0.4s;
}
.packaging > a > h1{
    font-size: 58px;
    letter-spacing: -0.025em;
    font-weight: bold;
    position: absolute;
    top: 40px;
    right: 60px;
    opacity: 1;
    transition: all .4s;
}

/* packaging:hover */

.category_p{
    width: 438px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transition: all .4s;
    transform: translateY(60px);
}
.category_p > p:first-child {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.category_p > p{
    font-size: 22px;
    color: #fff;
}
.packaging:hover .category_p{
    opacity: 1;
    transform: translateY(0);
}
.packaging:hover >a >h1{
    opacity: 0;
}
.packaging:hover >a >img{
    transform: scale(1.1);
}

/* furniture */

.furniture{
    position: relative;
    width: 438px;
    height: 520px;
    background: #bef2ba;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
}
.furniture > a > img{
    position: absolute;
    bottom: -60px;
    right: -10px;
    transform: scale(1);
    transition: all .4s;
}
.furniture > a > h1{
    font-size: 58px;
    letter-spacing: -0.025em;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 40px;
    opacity: 1;
    transition: all .4s;
}

/* furniture:hover */

.category_f{
    width: 438px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    opacity: 0;
    transition: all .4s;
    transform: translateY(60px);
}
.category_f > p:first-child {
    font-size: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
.category_f > p{
    font-size: 22px;
    color: #fff;
}
.furniture:hover .category_f{
  opacity: 1;
  transform: translateY(0);
}
.furniture:hover > a > h1{
    opacity: 0;
}
.furniture:hover >a >img{
    transform: scale(1.1);
}
/* office */

.office{
    position: relative;
    margin-right: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 200px;
    background: #d3bef6;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
} 
.office > a >img{
    position: relative;
    display: block;
    width: 240px;
    height: auto;
    transform: rotate(-45deg) translateY(0);
    transition: all .4s;
}
.office > a > h1{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 41px;
    letter-spacing: -0.025em;
    font-weight: bold;
    opacity: 1;
    transition: all .4s;
}
/* office:hover */

.category_o{
    width: 198px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    transition: all .4s;
    opacity: 0;
    transform: translateY(30px);
}
.category_o >p:first-child{
    color: #fff;
    font-weight: 20px;
    font-size: 22px;
    margin-bottom: 10px;
}
.category_o >p{
    color: #fff;
    font-size: 16px;
}
.office:hover .category_o{
    opacity: 1;
    transform: translateY(0);
}
.office:hover > a > h1{
    opacity: 0;
}
.office:hover > a > img{
    transform: scale(1.1);
}

/* pency */

.pency{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 200px;
    background: #fcb75b;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 2px 2px 5px 5px #04000022;
}
.pency > a > img{
    width: 240px;
    height: auto;
    display: block;
    transform: rotate(310deg) scaleX(-1);
    position: absolute;
    bottom: -50px;
    right: -20px;
    transition: all .4s;
}
.pency > a > h1{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 41px;
    letter-spacing: -0.025em;
    font-weight: bold;
    opacity: 1;
    transition: all .4s;
}

/* pency:hover */

.category_y{
    width: 198px;
    background: rgba(0, 0, 0, .6);
    position: absolute;
    bottom: 0;
    padding: 20px 10px;
    border-radius: 0 0 16px 16px;
    transition: all .4s;
    opacity: 0;
    transform: translateY(30px);
}
.category_y >p:first-child{
    color: #fff;
    font-weight: 20px;
    font-size: 22px;
    margin-bottom: 10px;
}
.category_y >p{
    color: #fff;
    font-size: 16px;
}
.pency:hover .category_y{
    opacity: 1;
    transform: translateY(0);
}
.pency:hover > a > h1{
    opacity: 0;
}
.pency:hover > a >img{
    transform: rotate(90deg) scale(1.1);
}