/* html <= 768px */
@media (max-width: 768px) {
    /* #wrap */
    #wrap {
        /* common style */
        .container{
            width: 100%;
        }
        /* header */
        header {
            .container {
                .category {
                    display: none;
                }
                .user-menu {
                    display: none;
                }
            }
        }
        /* main */
        main {
            /* intro */
            .intro {
                height: auto;
                padding: 200px 0;
                background: rgb(255,215,163);
                background: linear-gradient(180deg, rgba(255,215,163,1) 32%, rgba(255,255,255,1) 100%);
                .container {
                    flex-direction: column;
                    .text {
                        width: 100%;
                        margin-bottom: 80px;
                        .text-box {
                            align-items: center;
                            span {
                                font-size: 2.3rem;
                                b {
                                    font-size: 4rem;
                                }
                            }
                            span:not(:last-child) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .card {
                        // width: 100%;
                        transform: rotate(-15deg);
                    }
                }
            }
            /* news */
            .news {
                padding:0;
                .container {
                    .title-wrap {
                        .label {
                            font-size: .9rem;
                            margin-bottom: 4px;
                        }
                        .title {
                            font-size: 1.6rem;
                        }
                    }
                    #news {
                        .swiper-wrapper {
                            .swiper-slide {
                                flex-direction: column;
                                align-items: center;
                                .img-box{
                                    width: 70%;
                                    margin: 0;
                                    margin-bottom: 30px;
                                    img {
                                        width: auto;
                                        height: 120%;
                                    }
                                }
                                .text-box {
                                    width: 70%;
                                    align-items: center;
                                    h3{
                                        text-align: center;
                                        font-size: 1.2rem;
                                    }
                                    p {
                                        text-align: left;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* category */
            #category {
                display: none;
            }
            /* best items */
            .best-items{
                .container {
                    .subtitle{
                        font-size: .9rem;
                        margin-bottom: 4px;
                    }
                    .title{
                        font-size: 1.6rem;
                    }
                    .best_img {
                        ul {
                            flex-wrap: wrap;
                            li {
                                .img_box {
                                    width: 152px;
                                    height: 152px;
                                    a {
                                        img {
                                            width: 152px;
                                            height: 152px;
                                        }
                                    }
                                }
                                .des_box {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    .brand_name{
                                        font-size: .9rem;
                                    }
                                    .name{
                                        font-size: 1rem;
                                    }
                                    .price_box{
                                        .price{
                                            font-size: 1.4rem;
                                        }
                                        .won{
                                            font-size: .9rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* made */
            .made {
                .container {
                    .title-wrap{
                        .label{
                            font-size: .9rem;
                            margin-bottom: 4px;
                        }
                        .title{
                            font-size: 1.6rem;
                        }
                    }
                    #made {
                        width: 40%;
                        .swiper-wrapper{
                            .swiper-slide {
                                .item-bg {
                                    
                                }
                                .item-box {
                                    img {
                                        
                                    }
                                    .text-box:nth-child(1) {
                                        left: auto;
                                        right: 2%;
                                        bottom: 22%;
                                        li.title {
                                            font-size: 1.2rem;
                                            margin-bottom: 10px;
                                        }
                                        li {
                                            font-size: .9rem;
                                        }
                                    }
                                    .text-box:nth-child(2) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            /* brand */
            #brand {
                .container {
                    .brand_box {
                        height: 100px;
                        border-radius: 24px;
                        .brand_wrap {
                            a {
                                img {
                                    width: 80px;
                                    height: 80px;
                                }
                                .B01 {}
                                .B02 {}
                                .B03 {}
                                .B04 {
                                    display: none;
                                }
                                .B05 {}
                                .B06 {}
                                .B07 {}
                                .B08 {}
                                .B09 {}
                            }
                        }
                    }
                    .search {
                        height: 58px;
                        input {
                        }
                        img {}
                    }
                }
            }
            /* faq */
            .faq {
                height: 760px;
                .container {
                    .title {
                        font-size: 1.6rem;
                    }
                    .faq_list {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        ul {
                            width: 70%;
                            li {
                                .faq_head {
                                    font-size: 1.2rem;
                                    div {
                                        span {

                                        }
                                    }
                                    img.arrow {

                                    }
                                    .arrow.arrow-action {

                                    }
                                }
                                .faq_content {
                                    font-size: .9rem;
                                    span {

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* html >= 375 */
@media (max-width: 375px) {
    #wrap {
        main{
            /* intro */
            .intro {
                .container {
                    .text {
                        width: 100%;
                        margin-bottom: 80px;
                        .text-box {
                            align-items: center;
                            span {
                                font-size: 1.6rem;
                                b {
                                    font-size: 3rem;
                                }
                            }
                            span:not(:last-child) {
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .card {
                        width: 80%;
                        #card-wrap {
                            width: 220px;
                            height: 320px;
                        }
                    }
                }
            }
        }
    }
}

/* html >= 769px */
@media (min-width: 769px) {
    #wrap {
        .container {

        }
        /* header */
        header {
            .container {
                .m-category {
                    display: none;
                }
                .m-user-menu {
                    display: none;
                }
            }
        }
    }
}