/* font */
/* 수트 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 나눔스퀘어라운드 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 삼립호빵 */
@font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
/* css variable */
$main-text-color: #1a1a1c;
$main-color: #fc9199;
$sub-color: #fdac64;
$font: 'SUIT-Regular';
$en-font: 'Montserrat', sans-serif;
$title-font: 'SDSamliphopangche_Basic';
$body-font: 'NanumSquareRound';

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* container */
.container {
    width: 1440px;
    padding: 0 20px;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

#wrap {
    width: 100%;
    height: auto;
    background: #444;
    /* header */
    header {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        transition: all .4s;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border:1px solid red;
            padding: 15px 20px;
            /* mobile left */
            .m-category {
                // border: 1px solid red;
                width: 34px;
                margin-right: 58px;
                height: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                span {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: $main-color;
                }
            }
            /* left */
            .logo {
                // border: 1px solid red;
                img {
                    width: 170px;
                }
            }
            /* center */
            .category {
                // border: 1px solid red;
                display: flex;
                li {
                    a{
                        font-size: 16px;
                        font-family: $font;
                        color: $main-text-color;
                        font-weight: 600;
                    }
                    .highlight {
                        color: $main-color;
                        font-weight: 700;
                    }
                }
                li:not(:last-child){
                    margin-right: 50px;
                }
            }
            /* mobile right */
            .m-user-menu {
                display: flex;
                li {
                    border: 1px solid red;
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 34px;
                        height: 34px;
                        img {
                            /* 넣어야함 */
                        }
                    }
                }
                li:not(:last-child){
                    margin-right: 20px;
                }
            }
            /* right */
            .user-menu {
                // border: 1px solid red;
                width: 250px;
                display: flex;
                justify-content: flex-end;
                a {
                    font-family: $font;
                    font-weight: 600;
                    display: block;
                    padding: 10px 30px;
                    border-radius: 300px;
                    font-size: 14px;
                }
                .join {
                    color: $main-text-color;
                    background: #fff;
                    border: 1px solid $main-text-color;
                }
                .login {
                    color: #fff;
                    background: $main-text-color;
                    border: 1px solid $main-text-color;
                    margin-left: 10px;
                }
            }
        }
    }
    header.fixed {
        background: rgba(255, 255, 255, .4);
    }
    /* main */
    main {
        width: 100%;
        /* intro */
        .intro {
            width: 100%;
            height: 780px;
            background: rgb(255 215 163);
            display: flex;
            justify-content: center;
            .container {
                // border: 1px solid red;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                /* text box */
                .text {
                    // border:1px solid red;
                    width: 50%;
                    .text-box {
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        justify-content: center;
                        span {
                            font-family: $font;
                            color: #fff;
                            font-size: 48px;
                            font-weight: 700;
                            letter-spacing: -.025em;
                            b {
                                font-size: 72px;
                                color: $main-color;
                                font-style: italic;
                                margin-right: 10px;
                            }
                        }
                        span:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }
                /* card */
                .card{
                    width: 50%;
                    // border: 1px solid blue;
                    display: flex;
                    #card-wrap {
                        width: 320px;
                        height: 440px;
                        .swiper-wrapper {
                            // margin-left: 40px;
                            .swiper-slide{
                                font-size: 0;
                            }
                            .swiper-slide:nth-child(1) {
                                background: url('../images/card_1.jpg') no-repeat center / cover;
                                border-radius: 14px;
                            }
                            .swiper-slide:nth-child(2) {
                                background: url('../images/card_2.jpg') no-repeat center / cover;
                                border-radius: 14px;
                            }
                        }
                    }
                }
            }
        }
        /* news */
        .news {
            padding: 160px 0;
            width: 100%;
            height: auto;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            .container {
                // border: 1px solid red;
                // background: rgb(168, 168, 255);
                .title-wrap{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 60px;
                    .label {
                        color: $main-color;
                        font-family: $body-font;
                        font-weight: 500;
                        letter-spacing: -.025em;
                        margin-bottom: 10px;
                    }
                    .title {
                        font-family: $title-font;
                        font-size: 32px;
                        color: $main-text-color;
                        font-weight: normal;
                        text-align: center;
                    }
                }
                #news {
                    padding-bottom: 60px;
                    .swiper-wrapper {
                        .swiper-slide {
                            // border: 1px solid red;
                            display: flex;
                            justify-content: center;
                            .img-box {
                                width: 560px;
                                height: 340px;
                                // border: 1px solid red;
                                margin-right: 40px;
                                background: $main-color;
                                border-radius: 14px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                overflow: hidden;
                                img {
                                    width: 120%;
                                }
                            }
                            .text-box{
                                width: 560px;
                                // border: 1px solid red;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-start;
                                h3 {
                                    font-size: 24px;
                                    font-family: $font;
                                    font-weight: 600;
                                    color: $main-text-color;
                                    letter-spacing: -.025em;
                                    margin-bottom: 20px;
                                }
                                p {
                                    font-size: 16px;
                                    font-family: $font;
                                    font-weight: 500;
                                    color: $main-text-color;
                                    letter-spacing: -.025em;
                                }
                            }
                        }
                    }
                    #news-pager {
                        bottom: 0;
                        .swiper-pagination-bullet{
                            background: red;
                            transition: all .4s;
                        }
                        .swiper-pagination-bullet-active {
                            transform: scaleX(1.6);
                            border-radius: 40%;
                            background: $main-color;
                        }
                    }
                }
            }
        }
        /* category */
        #category {
            width: 100%;
            height: 763px;
            display: flex;
            justify-content: center;
            background: #fff;
            .container {
                position: relative;
                width: 1440px;
                height: 100%;
                padding: 0 20px;
                display: flex;
                /* outline: 1px solid red; */
                background: #fff;
                h1 {
                    color: #5d5d5d;
                    font-family: $font;
                    font-style: italic;
                }
                p {
                    font-family: $font;
                }
                /* left */
                .left {
                    .home {
                        width: 438px;
                        height: 760px;
                        background: #ffb7b7;
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        border-radius: 16px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                        a {
                            display: block;
                            img {
                                position: relative;
                                top: -120px;
                                transform: scale(1);
                                transition: all .4s;
                            }
                            h1{
                                font-size: 58px;
                                letter-spacing: -0.025em;
                                font-weight: bold;
                                position: absolute;
                                bottom: 40px;
                                left: 40px;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                        .category_h {
                            width: 438px;
                            background: rgba(0, 0, 0, .6);
                            position: absolute;
                            bottom: 0;
                            padding: 20px 10px;
                            border-radius: 0 0 16px 16px;
                            opacity: 0;
                            transition: all .4s;
                            transform: translateY(60px);
                            p{
                                font-size: 22px;
                                color: #fff;
                            }
                            p:first-child{
                                font-size: 28px;
                                color: #fff;
                                margin-bottom: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                    .home:hover {
                        .category_h {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        a {
                            img {
                                transform: scale(1.1); 
                            }
                        }
                        h1 {
                            opacity: 0;
                        }
                    }
                }
                /* center */
                .center {
                    margin: 0 43px;
                    .life {
                        position: relative;
                        width: 438px;
                        height: 160px;
                        background: #f5ee9b;
                        overflow: hidden;
                        border-radius: 16px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                        margin-bottom: 42px;
                        a {
                            display: block;
                            img {
                                position: absolute;
                                right: -80px;
                                bottom: -40px;
                                transform: scale(1);
                                transition: all .4s;
                            }
                            h1{
                                font-size: 58px;
                                letter-spacing: -0.025em;
                                font-weight: bold;
                                line-height: 160px;
                                padding-left: 20px;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                        .category_l {
                            width: 438px;
                            background: rgba(0, 0, 0, .6);
                            position: absolute;
                            bottom: 0;
                            padding: 20px 10px;
                            border-radius: 0 0 16px 16px;
                            opacity: 0;
                            transition: all .4s;
                            transform: translateY(60px);
                            p {
                                font-size: 22px;
                                color: #fff;
                            }
                            p:first-child {
                                font-size: 28px;
                                color: #fff;
                                margin-bottom: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                    .life:hover {
                        .category_l {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        a {
                            h1 {
                                opacity: 0;
                            }
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .packaging {
                        position: relative;
                        width: 438px;
                        height: 560px;
                        background: #adfcfb;
                        overflow: hidden;
                        border-radius: 16px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                        a {
                            display: block;
                            img {
                                width: 450px;
                                height: auto;
                                display: block;
                                position: absolute;
                                left: -70px;
                                bottom: -80px;
                                transform: scale(1);
                                transition: all 0.4s;
                            }
                            h1 {
                                font-size: 58px;
                                letter-spacing: -0.025em;
                                font-weight: bold;
                                position: absolute;
                                top: 40px;
                                right: 60px;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                        .category_p {
                            width: 438px;
                            background: rgba(0, 0, 0, .6);
                            position: absolute;
                            bottom: 0;
                            padding: 20px 10px;
                            border-radius: 0 0 16px 16px;
                            opacity: 0;
                            transition: all .4s;
                            transform: translateY(60px);
                            p {
                                font-size: 22px;
                                color: #fff;
                            }
                            p:first-child {
                                font-size: 28px;
                                color: #fff;
                                margin-bottom: 20px;
                                font-weight: bold;
                            }
                        }
                    }
                    .packaging:hover {
                        .category_p {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        a {
                            h1 {
                                opacity: 0;
                            }
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                /* right */
                .right {
                    position: relative;
                    right: 0;
                    .furniture {
                        position: relative;
                        width: 438px;
                        height: 520px;
                        background: #bef2ba;
                        overflow: hidden;
                        border-radius: 16px;
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                        a {
                            img {
                                position: absolute;
                                bottom: -60px;
                                right: -10px;
                                transform: scale(1);
                                transition: all .4s;
                            }
                            h1 {
                                font-size: 58px;
                                letter-spacing: -0.025em;
                                font-weight: bold;
                                position: absolute;
                                top: 40px;
                                left: 40px;
                                opacity: 1;
                                transition: all .4s;
                            }
                        }
                    }
                    .furniture:hover {
                        .category_f {
                            opacity: 1;
                            transform: translateY(0);
                        }
                        a {
                            h1 {
                                opacity: 0;
                            }
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
                    .category_f {
                        width: 438px;
                        background: rgba(0, 0, 0, .6);
                        position: absolute;
                        bottom: 0;
                        padding: 20px 10px;
                        border-radius: 0 0 16px 16px;
                        opacity: 0;
                        transition: all .4s;
                        transform: translateY(60px);
                        p{
                            font-size: 22px;
                            color: #fff;
                        }
                        p:first-child{
                            font-size: 28px;
                            color: #fff;
                            margin-bottom: 20px;
                            font-weight: bold;
                        }
                    }
                    .bottom {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: flex;
                        .office {
                            position: relative;
                            margin-right: 42px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 198px;
                            height: 200px;
                            background: #d3bef6;
                            overflow: hidden;
                            border-radius: 16px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                            a {
                                img {
                                    position: relative;
                                    display: block;
                                    width: 240px;
                                    height: auto;
                                    transform: rotate(-45deg) translateY(0);
                                    transition: all .4s;
                                }
                                h1 {
                                    position: absolute;
                                    bottom: 10px;
                                    right: 10px;
                                    font-size: 41px;
                                    letter-spacing: -0.025em;
                                    font-weight: bold;
                                    opacity: 1;
                                    transition: all .4s;
                                }
                            }
                            .category_o {
                                width: 198px;
                                background: rgba(0, 0, 0, .6);
                                position: absolute;
                                bottom: 0;
                                padding: 20px 10px;
                                border-radius: 0 0 16px 16px;
                                transition: all .4s;
                                opacity: 0;
                                transform: translateY(30px);
                                p {
                                    color: #fff;
                                    font-size: 16px;
                                }
                                p:first-child {
                                    color: #fff;
                                    font-weight: 20px;
                                    font-size: 22px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        .office:hover {
                            .category_o {
                                opacity: 1;
                                transform: translateY(0);
                            }
                            a {
                                h1 {
                                    opacity: 0;
                                }
                                img {
                                    transform: scale(1.1);
                                }
                            }
                        }
                        .pency {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 198px;
                            height: 200px;
                            background: #fcb75b;
                            overflow: hidden;
                            border-radius: 16px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .2);
                            a {
                                img {
                                    width: 240px;
                                    height: auto;
                                    display: block;
                                    transform: rotate(310deg) scaleX(-1);
                                    position: absolute;
                                    bottom: -50px;
                                    right: -20px;
                                    transition: all .4s;
                                }
                                h1 {
                                    position: absolute;
                                    top: 20px;
                                    left: 20px;
                                    font-size: 41px;
                                    letter-spacing: -0.025em;
                                    font-weight: bold;
                                    opacity: 1;
                                    transition: all .4s;
                                }
                            }
                            .category_y {
                                width: 198px;
                                background: rgba(0, 0, 0, .6);
                                position: absolute;
                                bottom: 0;
                                padding: 20px 10px;
                                border-radius: 0 0 16px 16px;
                                transition: all .4s;
                                opacity: 0;
                                transform: translateY(30px);
                                p {
                                    color: #fff;
                                    font-size: 16px;
                                }
                                p:first-child {
                                    color: #fff;
                                    font-weight: 20px;
                                    font-size: 22px;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                        .pency:hover {
                            .category_y {
                                opacity: 1;
                                transform: translateY(0);
                            }
                            a {
                                h1 {
                                    opacity: 0;
                                }
                                img {
                                    transform: rotate(90deg) scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        /* product */
        .best-items {
            width: 100%;
            padding-top: 160px;
            background: #fff;
            display: flex;
            justify-content: center;
            .container {
                height: auto;
                .subtitle {
                    color: $main-color;
                    font-family: $body-font;
                    font-weight: 500;
                    letter-spacing: -.025em;
                    margin-bottom: 10px;
                    text-align: center;
                    p {}
                }
                .title {
                    font-family: $title-font;
                    font-size: 32px;
                    color: $main-text-color;
                    text-align: center;
                    margin-bottom: 60px;
                    p {

                    }
                }
                .best_img {
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        li {
                            // float: left;
                            // padding-right:53px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .img_box {
                                width: 320px; height: 320px;
                                outline: 2px solid #c0c0c0;
                                border-radius: 26px;
                                a {
                                    display: block;
                                    img {
                                        width: 320px;
                                        height: 320px;
                                        transition: all .4s;
                                    }
                                    img:hover {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                            .des_box {
                                font-family: $body-font;
                                margin-top: 20px;
                                width: 100%;
                                .brand_name {
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #747474;
                                    p{}
                                }
                                .name {
                                    font-size: 18px;
                                    font-weight: 700;
                                    margin-bottom: 10px;
                                    letter-spacing: -.025em;
                                    a{

                                    }
                                }
                                .price_box {
                                    .price{
                                        font-size: 28px;
                                        font-weight: 700;
                                        letter-spacing: 0;
                                    }
                                    .won {
                                        font-size: 16px;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        li:not(:last-child){
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
        /* made */
        .made {
            padding: 160px 0;
            width: 100%;
            height: auto;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            .container{
                // border: 1px solid red;
                position: relative;
                display: flex;
                justify-content: center;
                .title-wrap{
                    position: absolute;
                    top: 40px;
                    z-index: 2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 60px;
                    .label {
                        color: $main-color;
                        font-family: $body-font;
                        font-weight: 500;
                        letter-spacing: -.025em;
                        margin-bottom: 10px;
                    }
                    .title {
                        font-family: $title-font;
                        font-size: 32px;
                        color: $main-text-color;
                        font-weight: normal;
                        text-align: center;
                    }
                }
                #made {
                    width: 30%;
                    transition: all 1s;
                    .swiper-wrapper {
                        position: relative;
                        /* made1 */
                        .swiper-slide {
                            // background: rgb(255, 173, 173);
                            width: 100%;
                            height: 500px;
                            border-radius: 50px;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            position: relative;
                            .item-bg {
                                width: 100%;
                                height: 400px;
                                background: #f2edd0;
                                border-radius: 50px;
                                position: absolute;
                                top: 0;
                                z-index: -1;
                            }
                            .item-box {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img {
                                    height: 280px;
                                }
                                /* right */
                                .text-box {
                                    opacity: 0;
                                    transition: all .4s;
                                    position: absolute;
                                    right: 24%;
                                    bottom: 0;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;
                                    li:not(:last-child) {
                                        margin-bottom: 10px;
                                    }
                                    li.title {
                                        font-weight: 600;
                                        font-size: 24px;
                                        margin-bottom: 20px;
                                        letter-spacing: -.028em;
                                        color: $main-text-color;
                                    }
                                    li{
                                        font-family: $body-font;
                                        font-weight: 400;
                                        font-size: 14px;
                                        color: $main-text-color;
                                        letter-spacing: -.028em;
                                    }
                                }
                                /* left */
                                .text-box:nth-child(1){
                                    left: 24%;
                                    bottom: 28%;
                                }
                            }
                        }
                        .swiper-slide:nth-child(2) {
                            .item-bg {
                                background: rgb(214, 244, 211);
                            }
                        }
                        .swiper-slide:nth-child(3) {
                            .item-bg {
                                background: rgb(255, 227, 227);
                            }
                        }
                    }
                }
            }
        }
        .made.scrolled {
            .container {
                #made {
                    width: 100%;
                    .swiper-wrapper {
                        .item-box {
                            .text-box {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
        /* brand */
        #brand{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            background: #fff;
            padding-bottom: 160px;
            .container{
                position: relative;
                display: flex;
                .brand_box{
                    position: relative;
                    width: 100%;
                    height: 300px;
                    background: #8e9cbf;
                    border: 1px solid $sub-color;
                    border-radius: 51px;
                    overflow: hidden;
                    z-index: 70;
                    .brand_wrap{
                        opacity: .6;
                        a {
                            display: block;
                            img {}
                            .B01 {
                                position: relative;
                                top: -50px;
                                margin: 0 68px;
                                animation: "shake" 4s;
                                animation-iteration-count: infinite;
                            }
                            .B02 {
                                position: relative;
                                top: -50px;
                                margin: 0 68px;
                                animation: "shake" 3.5s;
                                animation-iteration-count: infinite;
                            }
                            .B03 {
                                position: relative;
                                top: -50px;
                                margin: 0 68px;
                                animation: "shake" 3s;
                                animation-iteration-count: infinite;
                            }
                            .B04 {
                                position: relative;
                                top: -50px;
                                margin: 0 68px;
                                animation: "shake" 6s;
                                animation-iteration-count: infinite;
                            }
                            .B05 {
                                position: relative;
                                bottom: 50px;
                                left: -80px;
                                animation: "shake" 2s;
                                animation-iteration-count: infinite;
                            }
                            .B06 {
                                position: relative;
                                bottom: 50px;
                                left: 30px;
                                animation: "shake" 5s;
                                animation-iteration-count: infinite;
                            }
                            .B07 {
                                position: relative;
                                bottom: 50px;
                                left: 170px;
                                animation: "shake" 3.3s;
                                animation-iteration-count: infinite;
                            }
                            .B08 {
                                position: relative;
                                bottom: 50px;
                                left: 310px;
                                animation: "shake" 2.8s;
                                animation-iteration-count: infinite;
                            }
                            .B09 {
                                position: relative;
                                bottom: 50px;
                                left: 450px;
                                animation: "shake" 3.7s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                }
                .search {
                    width: 533px;
                    height: 67px;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 33px;
                    z-index: 9999;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid $main-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0 20px;
                    input {
                        width: 450px;
                        height: 62px;
                        border: none;
                        margin-left: 50px;
                        font-size: 18px;
                        background:none;
                        outline: none;
                        font-family: $body-font;
                    }
                    input:focus {
                        outline: none;
                    }
                    input::placeholder{
                        color: #838383;
                        text-align: center;
                        font-family: $body-font;
                    }
                    input:focus::placeholder{
                        color: transparent;
                    }
                    img {
                        // position: absolute;
                        // right: 14px;
                        // top: 14px;
                        cursor: pointer;
                    }
                }
            }
        }
        /* faq */
        .faq {
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;
            // border: 1px solid red;
            background: #fff;
            // padding-top: 160px;
            .container {
                .title {
                    font-family: $title-font;
                    font-weight: normal;
                    text-align: center;
                    font-size: 32px;
                    color: $sub-color;
                    margin-bottom: 60px;
                }
                .faq_list{
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    ul {
                        width: 44%;
                        li {
                            padding: 30px 0;
                            border-bottom: 2px solid $sub-color;
                            .faq_head {
                                cursor: pointer;
                                font-family: $body-font;
                                font-weight: 700;
                                display: flex;
                                justify-content: space-between;
                                // padding-bottom: 20px;
                                font-size: 24px;
                                letter-spacing: -.03em;
                                div {
                                    span {
                                        font-family: $title-font;
                                        color: $sub-color;
                                        font-size: 24px;
                                        margin-right: 10px;
                                    }
                                }
                                img.arrow {
                                    height: 24px;
                                    transition: all .4s;
                                }
                                .arrow.arrow-action {
                                    transform: rotate(-180deg);
                                }
                            }
                            .faq_content {
                                // height: 200px;
                                letter-spacing: -.03em;
                                line-height: 25px;
                                padding-left: 24px;
                                padding-top: 40px;
                                color: #1a1a1c;
                                font-family: $body-font;
                                display: none;
                                span {
                                    display: block;
                                    font-family: $title-font;
                                    color: $sub-color;
                                    font-weight: 700;
                                    font-size: 25px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* footer */
    footer {
        width: 100%;
        background: #101010;
        display: flex;
        justify-content: center;
        font-family: 'NanumSquareRound';
        .container {
          width: 1440px;
          height: auto;
          text-align: center;
          justify-content: center;
        //   border: 1px solid red;
          padding: 30px 20px;
          .logo {
            margin-bottom: 10px;
          }
        
          .customer_1 {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            font-family: $font;
          }
          .customer_2 {
            font-size: 34px;
            font-family: $en-font;
            color: #fff;
            margin: 6px 0;
          }
          .customer_3 {
            font-family: $font;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            margin-bottom: 4px;
          }
          .customer_4 {
            font-family: $font;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
          }
        
          .info_1 {
            color: #fff;
            font-family: $font;
            font-weight: 400;
            font-size: 14px;
            margin-bottom: 4px;
          }
          .info_2 {
            color: #fff;
            font-family: $font;
            font-weight: 400;
            font-size: 14px;
            a {
              color: #fff;
              font-weight: 700;
              font-size: 15px;
            }
          }
        
          ul {
            display: flex;
            justify-content: center;
            margin: 20px 0;
          }
          li:not(:last-child) {
            list-style: none;
            margin-right: 40px;
          }
        
          span {
            color: #fff;
            font-family: $font;
            font-weight: 400;
            font-size: 14px;
          }
        }
    }
} /* end: #wrap */

@keyframes shake {
    0% { transform: translate(4px, 8px) rotate(0deg); }
    
    50% { transform: translate(0px, 0px) rotate(0deg); }
    
    100% { transform: translate(4px, 8px) rotate(0deg); }
}